// ==============================
// Paleta Principal
// ==============================

$palette-primary: (
  100: #e6e6f7,
  200: #b8b7e3,
  300: #8a89ce,
  400: #5c5bb9,
  500: #2a28a6,
  600: #211f84,
  700: #191662,
  800: #100e41,
  900: #080620
);

// ==============================
// Paleta Accent
// ==============================
$palette-accent: (
  100: #fceee0,
  200: #f0c49c,
  300: #e39a59,
  400: #d47030,
  500: #a66928,
  600: #865422,
  700: #653f1b,
  800: #442a14,
  900: #24140d
);

// ==============================
// Paleta Gris
// ==============================

$palette-grey: (
  100: #ffffff,
  200: #e6e6e6,
  300: #cccccc,
  400: #b3b3b3,
  500: #999999,
  600: #808080,
  700: #666666,
  800: #4d4d4d,
  900: #333333,
  1000: #000000
);

// ==============================
// Colores semánticos globales
// ==============================

$color-success: #2ecc71;
$color-warning: #f1c40f;
$color-error: #e74c3c;
$color-info: #3498db;
